.hero {
    background-color: $section-purple;

    &__title {
        max-width: 900px;
        margin: 0 auto 60px;

        @include media(576px){
            margin-bottom: 30px;
        }
    }

    
}
